.wrapper {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
  .action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .inputs {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: auto auto;
  }
}
